.footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
}

.footer img{
    height: 50px;
}

.footer img:hover{
    transition:0.5s;
    box-shadow:10px 10px 20px grey;
    cursor: pointer;
    border-radius: 50px;
}